In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [2]:
from pandas import read_html

In [3]:
url = 'http://www.fdic.gov/bank/individual/failed/banklist.html'

In [4]:
dframe_list = pd.io.html.read_html(url)

In [5]:
dframe = dframe_list[0]
dframe

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date
0,Almena State Bank,Almena,KS,15426,Equity Bank,"October 23, 2020"
1,First City Bank of Florida,Fort Walton Beach,FL,16748,"United Fidelity Bank, fsb","October 16, 2020"
2,The First State Bank,Barboursville,WV,14361,"MVB Bank, Inc.","April 3, 2020"
3,Ericson State Bank,Ericson,NE,18265,Farmers and Merchants Bank,"February 14, 2020"
4,City National Bank of New Jersey,Newark,NJ,21111,Industrial Bank,"November 1, 2019"
...,...,...,...,...,...,...
558,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB","July 27, 2001"
559,Malta National Bank,Malta,OH,6629,North Valley Bank,"May 3, 2001"
560,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,"February 2, 2001"
561,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,"December 14, 2000"
562,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,"October 13, 2000"

In [6]:
dframe.columns.values

array(['Bank Name', 'City', 'ST', 'CERT', 'Acquiring Institution',
       'Closing Date'], dtype=object)

In [7]:
dframe_list

[                             Bank Name               City  ST   CERT  \
 0                    Almena State Bank             Almena  KS  15426
 1           First City Bank of Florida  Fort Walton Beach  FL  16748
 2                 The First State Bank      Barboursville  WV  14361
 3                   Ericson State Bank            Ericson  NE  18265
 4     City National Bank of New Jersey             Newark  NJ  21111
 ..                                 ...                ...  ..    ...
 558                 Superior Bank, FSB           Hinsdale  IL  32646
 559                Malta National Bank              Malta  OH   6629
 560    First Alliance Bank & Trust Co.         Manchester  NH  34264
 561  National State Bank of Metropolis         Metropolis  IL   3815
 562                   Bank of Honolulu           Honolulu  HI  21029

                    Acquiring Institution       Closing Date
 0                            Equity Bank   October 23, 2020
 1              United Fidelity Bank, fsb   October 16, 2020
 2                         MVB Bank, Inc.      April 3, 2020
 3             Farmers and Merchants Bank  February 14, 2020
 4                        Industrial Bank   November 1, 2019
 ..                                   ...                ...
 558                Superior Federal, FSB      July 27, 2001
 559                    North Valley Bank        May 3, 2001
 560  Southern New Hampshire Bank & Trust   February 2, 2001
 561              Banterra Bank of Marion  December 14, 2000
 562                   Bank of the Orient   October 13, 2000

 [563 rows x 6 columns]]