In [11]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [12]:
obj = Series([3,6,9,12])

In [13]:
obj

0     3
1     6
2     9
3    12
dtype: int64

In [14]:
obj.values

array([ 3,  6,  9, 12], dtype=int64)

In [15]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [16]:
ww2_cas = Series([8700000,4300000,3000000,2100000,400000],index=['USSR','GRMANY','CHINA','JAPAN','USA'])

In [17]:
ww2_cas

USSR      8700000
GRMANY    4300000
CHINA     3000000
JAPAN     2100000
USA        400000
dtype: int64

In [18]:
ww2_cas

USSR      8700000
GRMANY    4300000
CHINA     3000000
JAPAN     2100000
USA        400000
dtype: int64

In [19]:
ww2_cas['USA']

400000

In [20]:
# check which countries has more than 4 m cas
ww2_cas[ww2_cas > 4000000]

USSR      8700000
GRMANY    4300000
dtype: int64

In [21]:
'USSR' in ww2_cas

True

In [22]:
ww2_dict  = ww2_cas.to_dict()

In [23]:
ww2_dict

{'USSR': 8700000,
 'GRMANY': 4300000,
 'CHINA': 3000000,
 'JAPAN': 2100000,
 'USA': 400000}

In [25]:
ww2_series = Series(ww2_dict)

In [26]:
ww2_series

USSR      8700000
GRMANY    4300000
CHINA     3000000
JAPAN     2100000
USA        400000
dtype: int64

In [29]:
countries = ['China', 'Germany', 'Japan', 'USA', 'USSR', 'Argentina']

In [30]:
obj2 = Series(ww2_dict,index = countries)

In [31]:
obj2

China              NaN
Germany            NaN
Japan              NaN
USA           400000.0
USSR         8700000.0
Argentina          NaN
dtype: float64

In [32]:
pd.isnull(obj2)

China         True
Germany       True
Japan         True
USA          False
USSR         False
Argentina     True
dtype: bool

In [33]:
pd.notnull(obj2)

China        False
Germany      False
Japan        False
USA           True
USSR          True
Argentina    False
dtype: bool

In [34]:
ww2_series

USSR      8700000
GRMANY    4300000
CHINA     3000000
JAPAN     2100000
USA        400000
dtype: int64

In [35]:
obj2

China              NaN
Germany            NaN
Japan              NaN
USA           400000.0
USSR         8700000.0
Argentina          NaN
dtype: float64

In [36]:
ww2_series + obj2

Argentina           NaN
CHINA               NaN
China               NaN
GRMANY              NaN
Germany             NaN
JAPAN               NaN
Japan               NaN
USA            800000.0
USSR         17400000.0
dtype: float64

In [38]:
obj2.name = "World War 2 Cassulaties"
obj2

China              NaN
Germany            NaN
Japan              NaN
USA           400000.0
USSR         8700000.0
Argentina          NaN
Name: World War 2 Cassulaties, dtype: float64

In [39]:
obj2.index.name = 'Countries'

In [40]:
obj2

countries
China              NaN
Germany            NaN
Japan              NaN
USA           400000.0
USSR         8700000.0
Argentina          NaN
Name: World War 2 Cassulaties, dtype: float64