In [3]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

from numpy.random import randn

In [5]:
ser = Series(randn(6),index = [[1,1,1,2,2,2],['a','b','c','a','b','c']])

In [6]:
ser

1  a    0.134613
   b   -1.037527
   c   -0.248757
2  a    0.410850
   b   -1.356886
   c   -0.333569
dtype: float64

In [7]:
ser.index

MultiIndex([(1, 'a'),
            (1, 'b'),
            (1, 'c'),
            (2, 'a'),
            (2, 'b'),
            (2, 'c')],
           )

In [8]:
ser[1]

a    0.134613
b   -1.037527
c   -0.248757
dtype: float64

In [14]:
ser[2]

a    0.410850
b   -1.356886
c   -0.333569
dtype: float64

In [10]:
ser

1  a    0.134613
   b   -1.037527
   c   -0.248757
2  a    0.410850
   b   -1.356886
   c   -0.333569
dtype: float64

In [11]:
ser[:,"a"]

1    0.134613
2    0.410850
dtype: float64

In [12]:
dframe = ser.unstack()

In [13]:
dframe

          a         b         c
1  0.134613 -1.037527 -0.248757
2  0.410850 -1.356886 -0.333569

In [17]:
dframe2 = DataFrame(np.arange(16).reshape((4,4)),index=[['a','a','b','b'],[1,2,1,2]], 
                    columns=[['NY','NY','LA','SF'],['cold','hot','hot','cold']])
dframe2

      NY      LA   SF
    cold hot hot cold
a 1    0   1   2    3
  2    4   5   6    7
b 1    8   9  10   11
  2   12  13  14   15

In [18]:

dframe2.index.names = ['INDEX_1','INDEX_2']

dframe2.columns.names = ['Cities','Temp']

dframe2

Cities            NY      LA   SF
Temp            cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [19]:
dframe2.swaplevel('Cities','Temp',axis=1)

Temp            cold hot     cold
Cities            NY  NY  LA   SF
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [22]:
dframe2.sort_index(1)

Cities           LA   NY       SF
Temp            hot cold hot cold
INDEX_1 INDEX_2
a       1         2    0   1    3
        2         6    4   5    7
b       1        10    8   9   11
        2        14   12  13   15

In [23]:
dframe2.sum(level='Temp',axis=1)

Temp             cold  hot
INDEX_1 INDEX_2
a       1           3    3
        2          11   11
b       1          19   19
        2          27   27