In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame
from numpy.random import randn

In [2]:
ser1 = Series([1,2,3,4],index=['A','B','C','D'])
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [3]:
ser2 = ser1.reindex(['A','B','C','D','E','F'])
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [4]:
ser2.reindex(['A','B','C','D','E','F','G'],fill_value=0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [5]:
ser3 = Series(['USA','Mexico','Canada'], index=[0,5,10])
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [6]:
ranger = list(range(15)) #python 2.x is just range(15)

In [7]:
ranger

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [8]:
ser3.reindex(ranger,method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [9]:
dframe = DataFrame(randn(25).reshape((5,5)),index=['A','B','D',"E","F"],columns=['col1','col2','col3','col4','col5'])
dframe

       col1      col2      col3      col4      col5
A -1.639510 -0.135135  0.917279  0.877513 -0.315533
B  1.354260  0.037215  0.223405  0.668538  1.460702
D -2.637180  0.326123  0.124010  1.780568  0.869678
E  1.698353 -0.412426  1.363473  0.860781  1.119950
F  0.453415 -0.288206  1.106623 -0.833288 -2.071668

In [10]:
dframe2 = dframe.reindex(['A','B','C','D','E','F'])
dframe2

       col1      col2      col3      col4      col5
A -1.639510 -0.135135  0.917279  0.877513 -0.315533
B  1.354260  0.037215  0.223405  0.668538  1.460702
C       NaN       NaN       NaN       NaN       NaN
D -2.637180  0.326123  0.124010  1.780568  0.869678
E  1.698353 -0.412426  1.363473  0.860781  1.119950
F  0.453415 -0.288206  1.106623 -0.833288 -2.071668

In [11]:
new_columns = ['col1','col2','col3','col4','col5','col6']

In [12]:
dframe2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A -1.639510 -0.135135  0.917279  0.877513 -0.315533   NaN
B  1.354260  0.037215  0.223405  0.668538  1.460702   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -2.637180  0.326123  0.124010  1.780568  0.869678   NaN
E  1.698353 -0.412426  1.363473  0.860781  1.119950   NaN
F  0.453415 -0.288206  1.106623 -0.833288 -2.071668   NaN

In [13]:
dframe

       col1      col2      col3      col4      col5
A -1.639510 -0.135135  0.917279  0.877513 -0.315533
B  1.354260  0.037215  0.223405  0.668538  1.460702
D -2.637180  0.326123  0.124010  1.780568  0.869678
E  1.698353 -0.412426  1.363473  0.860781  1.119950
F  0.453415 -0.288206  1.106623 -0.833288 -2.071668

In [19]:
dframe.at[['A','B','C','D','E','F'], new_columns]

TypeError: unhashable type: 'list'