In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [2]:
ser1 = Series(list(range(3)),index=['C','A','B'])
ser1

C    0
A    1
B    2
dtype: int64

In [3]:

ser1.sort_index()

A    1
B    2
C    0
dtype: int64

In [4]:
ser1.sort_values() #he used ser1.order

C    0
A    1
B    2
dtype: int64

In [5]:
from numpy.random import randn

In [6]:

ser2 = Series(randn(10))
ser2

0    0.062757
1   -1.033760
2    0.744032
3    0.583565
4   -1.185375
5    0.367860
6    0.907948
7    0.619080
8   -0.096072
9    0.170188
dtype: float64

In [7]:
ser2.sort_values(inplace=True)
ser2

4   -1.185375
1   -1.033760
8   -0.096072
0    0.062757
9    0.170188
5    0.367860
3    0.583565
7    0.619080
2    0.744032
6    0.907948
dtype: float64

In [8]:
ser2.rank()

4     1.0
1     2.0
8     3.0
0     4.0
9     5.0
5     6.0
3     7.0
7     8.0
2     9.0
6    10.0
dtype: float64

In [9]:

ser3 = Series(randn(10))
ser3

0    0.057762
1   -0.477663
2    0.382079
3    0.837146
4    0.187891
5    0.098304
6   -0.846668
7    0.238206
8    1.402824
9    0.178230
dtype: float64

In [10]:
ser3.rank()

0     3.0
1     2.0
2     8.0
3     9.0
4     6.0
5     4.0
6     1.0
7     7.0
8    10.0
9     5.0
dtype: float64

In [11]:
ser3.sort_values(inplace=True)
ser3.rank()

6     1.0
1     2.0
0     3.0
5     4.0
9     5.0
4     6.0
7     7.0
2     8.0
3     9.0
8    10.0
dtype: float64

In [12]:
ser3

6   -0.846668
1   -0.477663
0    0.057762
5    0.098304
9    0.178230
4    0.187891
7    0.238206
2    0.382079
3    0.837146
8    1.402824
dtype: float64